body {
  margin-left: 0px;
  margin-top: 70px;
  font-family: sans-serif;
}

.center-stuff {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.inline {
  display: inline-block;
}

.index {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  background-image: url(./images/tree2.jpg);
  background-position: center;
  position: fixed;
}

.aboutTree {
  margin-top: 20px;
  display: inline-flex;
}

.formFont3 {
  text-align: left;
  font-size: 28px;
  color: rgb(49, 180, 67);
}

.aboutQuestions {
  margin-top: 10px;
}

.navLogo2 {
  margin-bottom: 20px;
  width: 200px;
  height: 150px;
}

.alert {
  text-align: center;
  width: 400px;
  margin-left: 20px;
}

.buttonGroup {
  width: 90%;
}

/*--------------------- Forms classes ---------------------*/
.formBox1 {
  padding: 4% 25% 4% 25%;
}

.formBox2 {
  padding: 4% 25% 4% 25%;
}

.formBox3 {
  padding: 4% 20% 4% 20%;
}

.formFont {
  font-size: 20px;
  color: rgb(49, 180, 67);
}

.formFont2 {
  text-align: center;
  font-size: 30px;
  color: rgb(49, 180, 67);
}

/*--------------------- PreTree classes ---------------------*/
.preTree {
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 450px;
}

.preTreeHeader {
  padding: 10% 1% 0% 1%;
  display: flex;
  justify-content: space-evenly;
}

#center {
  margin: auto;
  padding: 15px;
}

/*--------------------- Tree/Generation classes ---------------------*/
.treeHouse {
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 30px;
  margin-left: 200px;
  padding-bottom: 50px;
}

.genContainer {
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: white;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 86%;
}

.genCards {
  background-color: white;
  margin-right: 30px;
  width: 225px;
  border: 1px solid black;
}

.genPics {
  width: 200px;
  height: 200px;
  padding: 10%;
}


/*--------------------- Side bar ---------------------*/
.profileSideNav {
  background-color: white;
  height: 64%;
  width: 220px;
  position: fixed;
  z-index: 1;
  border-right: 1px solid black;
  padding-top: 90px;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.profilePic {
  width: 220px;
  height: 220px;
  padding: 8%;
}

.profileMenu {
  width: 100%;
  padding-left: 13px;
  padding-bottom: 5px;
  font-size: 20px;
}

#sideButton {
  width: 190px;
}

/*--------------------- Messages ---------------------*/
.profileMessageContainer {
  width: 220px;
  height: 36%;
  left: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid black;
}

.profileMessageBlock {
  border-top: 1px solid gainsboro;
  padding: 5%;
}

.activeNav {
  background-color: rgb(240, 239, 239);
}

.noMsg {
  color: grey;
  margin-left: 45px;
}

#treeFont {
  color: rgb(26, 175, 46);
  text-shadow: 0px 0px 0px rgb(60, 20, 2), 1px 2px 2px rgb(236, 236, 236);
}

#msgButton {
  float: right;
  background-color: rgb(230, 230, 230);
}

/*--------------------- Carousel classes ---------------------*/
.carouselContainer {
  display: block;
  margin-left: 50px;
  margin-bottom: 40px;
  justify-content: center;
}

.carousel {
  background-color: white;
  min-width: 200px;
  min-height: 200px;
  max-width: 450px;
  max-height: 300px;
  width: 450px;
  height: 300px;
  overflow: hidden;
}


/*--------------------- SignUp classes ---------------------*/
.signUpForm {
  margin-top: 15px;
}

.signUpBox {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 350px;
  padding: 2% 3% 2% 3%;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: rgb(243, 242, 242);
}

.signUpButton {
  display: flex;
  justify-content: center;
}

.signUpLabel {
  font-size: 16px;
  font-weight: normal;
}

.aboutContainer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 350px;
  padding: 2% 3% 2% 3%;
  display: flex;
  justify-content: center;
}

.aboutButton {
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.219);
}

#aboutText {
  color: rgb(49, 180, 67);
}


/*--------------------- Space classes ---------------------*/
.space1 {
  margin-bottom: 1em;
}

.space2 {
  margin-bottom: 2em;
}

.space3 {
  margin-bottom: 3em;
}

.spaceTop {
  margin-top: 30px;
}


/*--------------------- NavHeader classes ---------------------*/
.navHeaderContainer {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  border-bottom: 1px solid black;
  background-color: white;
}

.logInSpacing {
  margin-left: 5px; 
  margin-right: 5px;
}

.navLogo {
  width: 40px;
  height: 33px;
  margin-top: 6px;
  float: left;
}

#navBrand {
  font-size: 34px;
  text-shadow: 1px 2px 1px rgb(43, 22, 5), 0 0 35px rgb(194, 193, 193), 0 0 1px rgb(20, 160, 27);
  color: rgb(51, 189, 69);
}

#req {
  color: red;
  font-size: 18px;
}

#logInName {
  font-size: 20px;
  padding-top: 20px;
  color: rgb(51, 189, 69);
}


